<div class="homes-box">
  <h1>ようこそ Bookers へ！</h1>
  <p class="homes-text"><span class="homes-text-str">Bookers</span> では、さまざまな書籍に関するあなたの意見や<br>
  印象を共有し交換することができます
  </p>
  <a class="homes-link-box"><%= link_to "start", books_path, class:"homes-link" %></a>
</div>