// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-flash{
  color: #009900;
  margin: 30px 0 0 65px;
}

.show-box,.index-new-box,.edit-box{
  margin: 30px;
}

.show-title-box{
  margin-left: 35px;
  margin-bottom: 30px;
}

.show-title{
  display: inline-block;
  font-weight: bold;
}

.show-title-comment{
  display: inline-block;
}

.show-body-box{
  margin-left: 35px;
  margin-bottom: 30px;
  display: flex;
}

.show-body{
  display: inline-block;
  font-weight: bold;
}

.show-body-comment{
  width: 90%;
  margin-left: 5px;
  display: inline-block;
  word-wrap: break-word;
}

.link,a:link{
  color: #111;
}

.link,a:visited{
  color: #666;
}

.link:hover{
  color: #fff;
  background-color: #111;
}

.show-link-border, .edit-link-border{
  display: inline-block;
}

.edit-error-box{
  width: 30%;
  border: 1px solid #ff0000;
  margin-bottom: 10px;
}

.edit-error-title{
  padding: 2px 0 2px 15px;
  color: #fff;
  background-color: #cc0000;
}

.edit-error-comment{
  font-size: 12px;
  list-style-type: square;
  padding: 30px 0 30px 80px;
  background-color: #ddd;
}

.field_with_errors{
  margin-right: 1305px;
  padding: 2px;
  background-color: #ff0000;
}

.edit-body-box,.edit-link-box{
  margin-top: 10px;
}

.edit-botan{
  font-size: 16px;
  margin-top: 10px;
}

.index-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}