// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-flash{
  color: #009900;
  margin: 30px 0 0 65px;
}

.show-box{
  margin: 30px;
}

.show-title-box{
  margin-left: 35px;
  margin-bottom: 30px;
}

.show-title{
  display: inline-block;
  font-weight: bold;
}

.show-title-comment{
  display: inline-block;
}

.show-body-box{
  margin-left: 35px;
  margin-bottom: 30px;
  display: flex;
}

.show-body{
  display: inline-block;
  font-weight: bold;
}

.show-body-comment{
  width: 90%;
  margin-left: 5px;
  display: inline-block;
  word-wrap: break-word;
}

.show-link-edit{
  color: #111;
}

.show-link-border{
  display: inline-block;
  color: #666;
}

.show-link-back{
  color: #666;
}

.edit-box{
  margin: 30px;
}

.edit-title-box{

}

.edit-body-box{
  margin-top: 5px;
}

.edit-link-border{
  display: inline-block;
}