// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.show-flash{
  color: #009900;
  margin: 30px 0 0 65px;
}

.show-box,.index-new-box,.edit-box{
  margin: 30px;
}

.show-title-box{
  margin-left: 35px;
  margin-bottom: 30px;
}

.show-title{
  display: inline-block;
  font-weight: bold;
}

.show-title-comment{
  display: inline-block;
}

.show-body-box{
  margin-left: 35px;
  margin-bottom: 30px;
  display: flex;
}

.show-body{
  display: inline-block;
  font-weight: bold;
}

.show-body-comment{
  width: 90%;
  margin-left: 5px;
  display: inline-block;
  word-wrap: break-word;
}

.link,a:link{
  color: #111;
}

.link,a:visited{
  color: #666;
}

.link:hover{
  color: #fff;
  background-color: #111;
}

.show-link-border, .edit-link-border{
  display: inline-block;
}

.error-box{
  width: 30%;
  border: 1px solid #ff0000;
  margin-bottom: 10px;
}

.error-title{
  padding: 2px 0 2px 15px;
  color: #fff;
  background-color: #cc0000;
}

.error-comment{
  font-size: 12px;
  list-style-type: square;
  padding: 30px 0 30px 80px;
  background-color: #ddd;
}

.field_with_errors{
  padding: 2px;
  background-color: #ff0000;
  display: table;
}

.edit-body-box,.edit-link-box{
  margin-top: 10px;
}

.edit-botan{
  font-size: 16px;
  margin-top: 10px;
}

.index-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.index-flash{
  color: #009900;
  margin: 0 0 20px 35px;
}

.index-table{
  width: 50%;
  margin-top: 10px;
  table-layout: fixed;
}

.index-thead-th{
  font-size: 13px;
  padding-bottom: 5px;
}

.index-thead-title{
  width: 20%;
}

.index-thead-body{
  width: 50%;
}

.index-tbody-link-s{
width: 6%;
}

.index-tbody-link-e{
  width: 5%;
}

.index-tbody-link-d{
  width: 8%;
}

.index-tbody-td{
  font-size: 13px;
  padding: 0 5px 7px 5px;
}

.index-tbody-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-tbody-body{
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-box,.new-title-box,.new-body-box,{
  margin-top: 10px;
}

.new-input-box{
  margin-top: 10px;
}

.new-input{
  width: 90px;
  height: 22px;
}

